<nav class="navbar navbar-expand-lg justify-content-center">
    <a class="navbar-brand" href="/dashboard"><img style="width:77px;" src="./../../../assets/fav.png"/><span class="title">CoronaStat</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>
  </nav>
<hr class="nav-hr">