.navbar-brand{
    color:rgb(243, 93, 93);
    font-family: 'Tahoma';
    font-weight: 200px;
    font-size: 1.7rem !important;
    
}
hr.nav-hr{
    border: 1px solid rgb(175, 182, 175);
   border-top: 2px;;
}
.title{
    margin-left: 5px;
    font-family: monospace;
    font-size: 32px;
}
